{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add a New Page
{% endblock %}

{% block body %}
    <h1>Add a New Page</h1>

    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" placeholder="Enter a title"><br>
        <label>Markdown Content:</label><br>
        <textarea name="content" placeholder="Enter markdown here" rows="15" cols="100"></textarea><br>
        <input type="submit" value="Add Page">
    </form>



{% endblock %}